.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.homeHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // margin: 2%;
}

.inputContainer {
  padding: 1%;
}

.homeContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.movieCard {
  position: relative;
  transition: transform 0.2s;
  margin: 10px;
}

.movieCard:hover {
	transform: scale(1.1);
}

.movieCard:hover .addToWatchListButton {
  opacity: 1;
}

.favBtn {
  border: none !important;
  background-color: transparent !important;
  margin: 2%;
  position:absolute;
  top:0;
  right:0;
}

.favBtn:hover {
  background-color: rgba($color: orangered, $alpha: 0.1) !important;
}

.addToWatchListButton {
  border: none !important;
	background-color: rgba($color: orangered, $alpha: 0.7) !important;
  position: absolute;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
}

.addToWatchListButton:hover {
  background-color: rgba($color: orangered, $alpha: 0.9) !important;
}

.cardModal {
  color: white;

}

.cardModal .modal-content{
  background-color: rgb(27, 26, 26);
}

.modalBtn {
  border: none !important;
  background-color: transparent !important;
  margin: 2%;
  position:absolute;
  width: 100%;
  height: 50%;
  left: 0;
  margin-top: 25%;
}

.modalBtn:hover{
  // background-color: rgba($color: orangered, $alpha: 0.5) !important;
  cursor: pointer;
}
