.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.homeHeader {
  display: inline-flex;
  margin: 2%;
}

.homeContainer {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.favBtn {
  border: none !important;
  background-color: transparent !important;
  font-size: 8pt;
  margin-right: 2%;
  position:absolute;
  top:0;
  right:0;
}
.movieCard {
  position: relative;
  transition: transform 0.2s;
}

.movieCard:hover {
  // cursor: pointer;
	transform: scale(1.1);
}

.movieCard:hover .addToWatchListButton {
  opacity: 1;
}

.addToWatchListDiv {
  border: none !important;
  background-color: transparent !important;
  position:absolute;
  width: 100%;
  bottom:0;
}

.addToWatchListButton {
  border: none !important;
	background-color: rgba($color: orangered, $alpha: 0.8) !important;
  position: absolute;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	// font-size: 20px;
	// padding: 20px;
	// text-align: center;
}

.homeHeader .form-group {
  margin-right: 5px;
}

// .selectContainer {
  
// }
