.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}

.homeHeader {
  background-color: orangered;
  margin: 10px;
  // font-size: 30px;
  // font-weight: bold;
  box-shadow: 0px 0px 5px orangered;
  border-radius: 10px;
}

// .selectContainer {
  
// }
